{% extends 'base.html' %}
{% load static %}
{%block contenido%}
<div >

  <h1> Contacto </h1>
  <div class="container" >
    <p class="row justify-content-center align-items-center h4">
      La fundacion HECHO CON ALMA se enecuentra en Ayacucho 430. </br>
    </br>Nuestro telefono es 03725 45-5966 </br> </br> fundhechoconalma@outlook.com.ar
  </p>
  </div>

    <div class="buttons" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="https://www.facebook.com/Hechos-con-Alma-106138340788976/" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/hechocon_alma/?hl=es-la" class="fa fa-instagram" target="_blank"></a>
    </div>
    <div class="mapa" style="margin-left:5%; margin-top:50px position: relative">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1500.7569333616705!2d-59.3468403958516!3d-26.53871914840087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94438982e78a3cf3%3A0xa3189bea1e8f8dc9!2sTaller%20de%20motos%20isaac..!5e0!3m2!1sen!2sar!4v1662151393885!5m2!1sen!2sar" width="900" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
 
  </div>
</div>
  
  
    

{% endblock %}