{% extends 'base.html' %} {% load static %} {%block contenido%}
<div class="container text-center">
    <div class="col ">
       

        <h1 class="mb-5">Sobre Nosotros</h1>
 <img  alt="..." height="160" class="bg-opacity-10" src="{% static 'img\logos\logo2.svg' %}"/>
    </div>

    <div>
        <h2 class="mb-3">Historia</h2>
        <div>
            <h6>
                <p>
                    <em>La Fundación "Hecho con Alma" es una ONG de la ciudad Gral. Jose de San Martin .
            Nació en septiembre de

            2019 <em>con el objetivo de generar un espacio de contencion y superacion</em></em>
                </p>
            </h6>

            <h2 class="mb-3">Nuestra Visión</h2>

            <h6>
                <p>
                    <em>Incluir socialmente a los niños, jovenes y grupos familiares, ayudando a a estos a traves de diferentes
            actividades º</em>
                </p>
            </h6>
            <h2 class="mb-3">Autoridades</h2>
            <div>
                <h6>
                    <p>
                        <em>La fundacion sera dirigida y administrada por un consejo de administracion integrada por su fundador y
              posee un presidente de este consejo</em>
                    </p>
                </h6>

                <div></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}